.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 25vh 65vh;
}

.StorySettings {
  background-color: #ddd;
}
.WizardList {
  width: 100%;

  display: grid;

  grid-auto-rows: 50px;
  line-height: 50px;
}
.Wizard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 1em;
}
.Wizard div:nth-child(1) {
  font-size: 190%;
}
.Wizard div:nth-child(2) {
  font-size: 150%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
